@media only screen and (max-width: 768px) {

  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }

  .head {
    .text-skill {
      top: 170px;
      left: 30px;
      h1 {
        font-size: 26px !important;
      }
      h2 {
        font-size: 18px !important;
      }
    }
  }

  .our-skills {
    .swiper {
      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
    }
  }

  .about-us {
    .text-section {
      width: 100%;
      font-size: 18px;
    }
  }

  .icon-why {
    margin-bottom: 20px !important;
    margin-top: 20px;
  }

  .name-why {
    margin-bottom: 20px !important;
  }

  .reviwes {

    .swiper-slide {
      padding-top: 115px;
    }
    img {
      left: 0 !important;
      right: 0;
      margin: 0 auto !important;
      top: -115px !important;
    }
    .message:before {
      content: none !important;
    }
  }

  .text-why {
    margin-bottom: 0 !important;
  }

  .why-us {
    margin-bottom: 50px;
  }

  .contacts {
    .wrapper {
      margin: 0 !important;
    }
    #map {
      height: 460px;
    }
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* стили */
  .navbar {
    .container {
      width: 100% !important;
    }
  }

  .head {
    .text-skill {
      top: 210px;
    }
  }

  .about-us {
    .text-section {
      width: 100%;
      font-size: 18px;
    }
  }

  .text-why {
    margin-bottom: 50px !important;
  }

  .contacts {
    .wrapper {
      margin: 0 !important;
    }
    #map {
      height: 280px;
    }
  }

  .reviwes {
    .swiper-slide {
      padding-top: 115px;
    }
    img {
      left: 0 !important;
      right: 0;
      margin: 0 auto !important;
      top: -115px !important;
    }
    .message:before {
      content: none !important;
    }
    .swiper-button-prev, .swiper-button-next {
      margin-top: 30px !important;
    }
  }

}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen  and (min-width: 992px)and (max-width: 1200px) {
  /* стили */
  .navbar-nav {
    float: right !important;
  }

  .about-us {
    .text-section {
      width: 555px;
      font-size: 21px;
    }
  }

  .contacts {
    .wrapper {
      position: absolute;
      width: 500px;
    }
    #map {
      height: 460px;
    }
  }

  .modal-custom {
    width: 900px;
    .photo {
      img {
        width: 100%;
      }
    }
  }
}

/* Большие экраны ----------- */
@media only screen  and (min-width: 1200px) {
  /* стили */
  .head {
    .text-skill {
      top: 300px;
    }
  }

  section.portfolio{
    margin-top: -330px;
  }
  section.team .swiper-pagination{
    margin-top: 0;
  }
  section.team .swiper,
  section.portfolio .swiper,
  section.reviwes .swiper{
    margin-bottom: 40px;
  }
  section.portfolio .swiper-pagination{
    margin-top: 0;
  }

  section.reviwes .swiper-pagination{
    margin: 0 !important;
  }
  .navbar-nav {
    float: right !important;
  }

  .about-us {
    .text-section {
      width: 555px;
      font-size: 21px;
    }
  }

  .contacts {
    .wrapper {
      position: absolute;
      width: 500px;
    }
    #map {
      height: 460px;
    }
  }

  .modal-custom {
    width: 900px;
    .photo {
      img {
        width: 100%;
      }
    }
  }
}
