@polygon_green-x: -2px;
@polygon_green-y: -2px;
@polygon_green-width: 1300px;
@polygon_green-height: 780px;
@polygon_green: @polygon_green-x, @polygon_green-y, @polygon_green-width, @polygon_green-height;
@MySQL-x: -1306px;
@MySQL-y: -2px;
@MySQL-width: 1123px;
@MySQL-height: 582px;
@MySQL: @MySQL-x, @MySQL-y, @MySQL-width, @MySQL-height;
@Ajax-x: -2px;
@Ajax-y: -786px;
@Ajax-width: 1208px;
@Ajax-height: 522px;
@Ajax: @Ajax-x, @Ajax-y, @Ajax-width, @Ajax-height;
@jQurery-x: -2px;
@jQurery-y: -1312px;
@jQurery-width: 770px;
@jQurery-height: 800px;
@jQurery: @jQurery-x, @jQurery-y, @jQurery-width, @jQurery-height;
@git-x: -1214px;
@git-y: -786px;
@git-width: 1080px;
@git-height: 451px;
@git: @git-x, @git-y, @git-width, @git-height;
@WordPress-x: -776px;
@WordPress-y: -1312px;
@WordPress-width: 701px;
@WordPress-height: 436px;
@WordPress: @WordPress-x, @WordPress-y, @WordPress-width, @WordPress-height;
@Avatar-3-x: -1481px;
@Avatar-3-y: -1312px;
@Avatar-3-width: 251px;
@Avatar-3-height: 251px;
@Avatar-3: @Avatar-3-x, @Avatar-3-y, @Avatar-3-width, @Avatar-3-height;
@Elegrum-x: -1736px;
@Elegrum-y: -1312px;
@Elegrum-width: 251px;
@Elegrum-height: 251px;
@Elegrum: @Elegrum-x, @Elegrum-y, @Elegrum-width, @Elegrum-height;
@icon-4-x: -1306px;
@icon-4-y: -588px;
@icon-4-width: 166px;
@icon-4-height: 166px;
@icon-4: @icon-4-x, @icon-4-y, @icon-4-width, @icon-4-height;
@European-x: -1476px;
@European-y: -588px;
@European-width: 166px;
@European-height: 166px;
@European: @European-x, @European-y, @European-width, @European-height;
@guy-x: -1646px;
@guy-y: -588px;
@guy-width: 166px;
@guy-height: 166px;
@guy: @guy-x, @guy-y, @guy-width, @guy-height;
@3-Control-of-the-Process-x: -1816px;
@3-Control-of-the-Process-y: -588px;
@3-Control-of-the-Process-width: 166px;
@3-Control-of-the-Process-height: 166px;
@3-Control-of-the-Process: @3-Control-of-the-Process-x, @3-Control-of-the-Process-y, @3-Control-of-the-Process-width, @3-Control-of-the-Process-height;
@Logo-x: -1986px;
@Logo-y: -588px;
@Logo-width: 195px;
@Logo-height: 41px;
@Logo: @Logo-x, @Logo-y, @Logo-width, @Logo-height;
@YiiFramework-Icon-x: -1986px;
@YiiFramework-Icon-y: -633px;
@YiiFramework-Icon-width: 86px;
@YiiFramework-Icon-height: 67px;
@YiiFramework-Icon: @YiiFramework-Icon-x, @YiiFramework-Icon-y, @YiiFramework-Icon-width, @YiiFramework-Icon-height;
@sprite-x: -2076px;
@sprite-y: -633px;
@sprite-width: 86px;
@sprite-height: 67px;
@sprite: @sprite-x, @sprite-y, @sprite-width, @sprite-height;
@ModX-Icon-x: -2298px;
@ModX-Icon-y: -786px;
@ModX-Icon-width: 66px;
@ModX-Icon-height: 87px;
@ModX-Icon: @ModX-Icon-x, @ModX-Icon-y, @ModX-Icon-width, @ModX-Icon-height;
@PHP-Icon-x: -2166px;
@PHP-Icon-y: -633px;
@PHP-Icon-width: 101px;
@PHP-Icon-height: 51px;
@PHP-Icon: @PHP-Icon-x, @PHP-Icon-y, @PHP-Icon-width, @PHP-Icon-height;
@Phone-x: -2185px;
@Phone-y: -588px;
@Phone-width: 39px;
@Phone-height: 39px;
@Phone: @Phone-x, @Phone-y, @Phone-width, @Phone-height;
@Team-Icon-x: -2228px;
@Team-Icon-y: -588px;
@Team-Icon-width: 39px;
@Team-Icon-height: 39px;
@Team-Icon: @Team-Icon-x, @Team-Icon-y, @Team-Icon-width, @Team-Icon-height;
@Front-end-icon-x: -2271px;
@Front-end-icon-y: -588px;
@Front-end-icon-width: 37px;
@Front-end-icon-height: 37px;
@Front-end-icon: @Front-end-icon-x, @Front-end-icon-y, @Front-end-icon-width, @Front-end-icon-height;
@CSM-icon--x: -2312px;
@CSM-icon--y: -588px;
@CSM-icon--width: 35px;
@CSM-icon--height: 37px;
@CSM-icon-: @CSM-icon--x, @CSM-icon--y, @CSM-icon--width, @CSM-icon--height;
@UX_UI-icon-x: -2351px;
@UX_UI-icon-y: -588px;
@UX_UI-icon-width: 34px;
@UX_UI-icon-height: 37px;
@UX_UI-icon: @UX_UI-icon-x, @UX_UI-icon-y, @UX_UI-icon-width, @UX_UI-icon-height;
@Back-end-icon-x: -2389px;
@Back-end-icon-y: -588px;
@Back-end-icon-width: 37px;
@Back-end-icon-height: 29px;
@Back-end-icon: @Back-end-icon-x, @Back-end-icon-y, @Back-end-icon-width, @Back-end-icon-height;
@Bubble-x: -2271px;
@Bubble-y: -633px;
@Bubble-width: 19px;
@Bubble-height: 17px;
@Bubble: @Bubble-x, @Bubble-y, @Bubble-width, @Bubble-height;
@i--x: -2271px;
@i--y: -654px;
@i--width: 5px;
@i--height: 22px;
@i-: @i--x, @i--y, @i--width, @i--height;

.sprite-image() {
    background-image: url('../images/global/sprite.png');
}
.sprite-position(@sprite) {
    background-position: extract(@sprite, 1) extract(@sprite, 2);
}
.sprite-width(@sprite) {
    width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
    height: extract(@sprite, 4);
}
.sprite(@sprite) {
    .sprite-image();
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
}
