@import "lesshat";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import "bootstrap/bootstrap";
@import "response";
@import "mixin";
@import "swiper/swiper";


@blue: #009999;
@orange: #ff3300;
@white: #fff;
@gray: #666666;
@no-color: rgba(255, 255, 255, 0);
@red: #ff3300;

/* navbar grid */
@grid-float-breakpoint: @screen-md-min;

/* swiper customization */
.swiper {
  .overlay.black {
    height: 240px;
    width: 100%;
    position: absolute;
  }
  .swiper-slide:hover .black {
    top: 0;
  }
  .swiper-slide .black {
    .transition-all(.5s);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;

  }
  .swiper-slide .text {
    .transition-all(0.5s);
    position: absolute;
    font-size: 14px;
    color: @white;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    top: 80%;
    .name {
      display: inline-block;
    }
    .position {
      display: none;
    }
  }
  .swiper-slide:hover .text,
  .swiper-slide:focus .text {
    top: 40%;
    & > .position {
      display: block;
    }
    & > hr {
      display: block;
    }
  }
  .swiper-slide:hover {
    display: block;
  }
}

.swiper-button-next {
  background-image: none;
  display: flex;
  position: absolute;
  right: -3%;
  i {
    color: @orange;
    font-size: 30px;
    margin: auto;
  }
}

.swiper-button-prev {
  background-image: none;
  position: absolute;
  display: flex;
  left: -3%;
  i {
    color: @orange;
    font-size: 30px;
    margin: auto;
  }
}

.swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 0;
  display: inline-block;
}

.swiper-pagination-bullet{
  background: @blue;
  background-clip: content-box;
  height: 10px;
  width: 10px;
  padding: 2px;
  opacity: 1;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 2px;
}
.swiper-pagination-bullet-active{
  padding: 0;
  background: transparent;
  width: 10px;
  height: 10px;
  border: 2px solid @blue;
}
/* end swiper */

/* tooltiper */
.tooltipster-default{
  background-color: @red;
  border: none;
}
.tooltipster-default .tooltipster-content{
  font-size: 13px;
  padding: 4px 6px;
}

section {
  position: relative;
  padding: 100px 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  margin-top: -5px;
}

.title-section {
  margin-bottom: 65px;
  h1, h4 {
    color: @blue;
    text-align: center;
    margin: 0;
  }
  .title {
    text-align: center;
    margin: 0;
  }
}

.after-line {
  display: inline-block;
  &:after {
    display: block;
    height: 1px;
    background-clip: content-box;
    padding: 0 8px;
    content: '';
    background-color: @blue;
    margin: 4px 0;
  }
}

.before-line {
  display: inline-block;
  &:before {
    display: block;
    height: 1px;
    background-clip: content-box;
    padding: 0 8px;
    content: '';
    background-color: @blue;
    margin: 3px 0;
  }
}

.reviwes .before-line:before,
.why-us .before-line:before {
  background-color: @white;
}

.img-circle {
  border: 2px solid @white;
  .border-radius(50%);
  width: 100px;
  background-color: @white;
}

.align-center {
  text-align: center;
}

.horizontal-align {
  position: absolute;
  left: 50%;
  .transform(translateX(-50%));
}

.overlay.gray {
  background-color: rgba(222, 222, 222, .9);
}

.overlay.white {
  background-color: rgba(255, 255, 255, .9);
}

.overlay.black {
  background-color: rgba(0, 0, 0, .5);
}

.primary-button {
  color: @orange;
  .border-radius(6px);
  border: 2px solid @orange;
  background-color: @no-color;
  margin: 0 auto;
  margin-bottom: 100px;
  font-size: 17px;
  padding: 7px 40px 9px;
  font-variant: small-caps;
  text-transform: lowercase;
}

.icon-class {
  border: 4px solid @white;
  background-color: @blue;
  width: 40px;
  height: 40px;
  text-align: center;
  .border-radius(50%);
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 3;
  background-position: center center;
  background-repeat: no-repeat;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "PT Sans";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 33px !important;
}

h2 {
  font-size: 20px !important;
}

h1, h2 {
  text-transform: uppercase;
}

h4 {
  font-size: 16px !important;
}

.custom-navbar {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  z-index: 2;
  .navbar-nav {
    margin: 15px 0 0;
  }
  .navbar-brand {
    float: left;
    padding: 4px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }
}

.navbar-collapse, .navbar-form {
  border: none;
}

.navbar-toggle .icon-bar {
  background-color: @orange;
}

.navbar-nav a {
  text-transform: uppercase;
  font-size: 13px;
  color: @blue;
  padding: 4px 10px !important;
  &:hover, &:focus {
    color: @orange;
    background: rgba(255, 255, 255, 0) !important;
  }
}

.tell {
  a {
    padding: 4px 10px !important;
    background-color: @orange;
    color: @white;
    .border-radius(5px);
  }
}

.lang {
  a {
    font-size: 8px;
  }
}


/* --------header--------*/
.head {
  width: 108%;
  background-image: url(../images/hero.jpg);
  background-position: 50% 20%;
  -o-background-size: cover; /* opera ≥ 9.5 */
  -webkit-background-size: cover; /* Safari ≥ 5.0, Chrome ≥ 4.0 */
  -khtml-background-size: cover; /* Konqueror ≥ 3.5.4 */
  -moz-background-size: cover; /* Firefox ≥ 3.6 */
  background-size: cover;
  .text-skill {
    top: 220px;
  }
  .main-text {
    height: 565px;
    position: relative;
  }
  .text-skill {
    text-align: center;
    position: absolute;
    font-family: "Open Sans";
  }
  h1 {
    color: @orange;
    font-size: 33px;
    margin-bottom: 0;
  }
  h2 {
    color: @blue;
    margin-top: 0;
  }
}

/* ----- end header ------*/

/*-----  start Our skills -------*/
section.our-skills {
  padding-top: 30px;
  background-color: @white;
  min-height: 320px !important;
  position: relative;
  text-align: center;
  .after-line:after {
    padding: 0 14px;
  }
  /*
  .after-line(@blue, 8px);*/
  .title-section {
    margin-bottom: 0 !important;
  }
  .swiper {
    margin-top: 35px;
    position: relative;
  }
  .swiper-slide {
    min-height: 80px;
    line-height: 80px;
    img {
      max-height: 80px;
      max-width: 90px;
    }
  }
  .swiper-pagination {
    margin-top: 20px;
    right: auto;
  }

  .info {
    background-image: url(../images/sprites/i-.png);
    top: -15px;
  }
}

/*-----  end Our skills -------*/

/*-----  start about us -------*/
section.about-us {
  padding: 0 0 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/about-us.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  .after-line {
    padding: 0 4px;
  }
  .text-section {
    color: @gray;
    text-align: center;
    margin: 0 auto;
    font-variant: small-caps;
  }
  .primary-button {
    margin-bottom: 0;
    display: block;
  }
  .button-section {
    margin-top: 60px;
  }
}

/*-----  end about us -------*/

/*-----  start our service -------*/
.our-service {
  padding: 100px 0 50px;
  .after-line:after {
    padding: 0 18px;
  }
  background: linear-gradient(rgba(235, 235, 235, 0.9), rgba(235, 235, 235, 0.9)), rgb(235, 235, 235) url("../images/our-services.jpg") no-repeat;
  background-position: center top;
  color: @blue;
  span{
    float: left;
    margin-right: 10px;
    width: 37px;
    height: 37px;
  }
  .front-end{
    background-image: url(../images/sprites/front-end-icon.png);
    background-repeat: no-repeat;
  }
  .back-end{
    background-image: url(../images/sprites/back-end-icon.png);
    background-repeat: no-repeat;
  }
  .cms{
    background-image: url(../images/sprites/cms-icon-.png);
    background-repeat: no-repeat;
  }
  .ux-ui{
    background-image: url(../images/sprites/ux-ui-icon.png);
    background-repeat: no-repeat;
  }
  h3 {
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
  }
  .line {
    background-image: url(../images/sprites/line.png);
    background-repeat: no-repeat;
    background-position: center center;
    bottom: 50px;
  }
  .button-section {
    margin-top: 60px;
    margin-bottom: 0;
    .primary-button {
      margin-bottom: 35px;
    }
  }
  .icon-class {
    border-color: #ebebeb;
    bottom: -15px;
  }
}

/*-----  end our service -------*/

/*----- start why us ---------*/

section.why-us {
  .title-section {
    h1, h4 {
      color: @white;
    }
  }
  .before-line:before {
    padding: 0 24px;
  }
  background-image: url(../images/polygons.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  color: @white;
  padding-bottom: 150px;
  .icon-why {
    text-align: center;
  }
  .name-why {
    text-align: center;
    h2 {
      font-size: 24px !important;
    }
  }
  .text-why {
    text-align: center;
  }
}

/*----- end why us -------- */

/* ----- start team ----- */

section.team {
  padding: 100px 0;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/team.jpg") no-repeat;
  background-position: right bottom;
  .background-size(auto 100%);
  -webkit-background-size: cover;
  background-size: cover;
  .before-line:before {
    padding: 0 12px;
  }
  .title-section {
    margin-bottom: 0;
  }
  .swiper {
    margin-top: 60px;
    .swiper-slide:hover,
    .swiper-slide:focus {
      cursor: pointer;
    }
    .after-line:after {
      background-color: @white;
      padding: 0;
      margin: 0;
    }
  }
  span {
    font-family: "Open Sans";
    font-size: 14px;
  }

  .swiper-button-next, .swiper-button-prev {
    i {
      color: @blue;
    }
  }
  .swiper-pagination {
    margin-top: 40px;
  }
  .team-icon {
    background-image: url(../images/sprites/team-icon.png);
    top: -15px;

  }
}

/* ----- end team ------ */

/* ----- start portfolio ------ */

section.portfolio {
  background: linear-gradient(rgba(235, 235, 235, 0.9), rgba(235, 235, 235, 0.9)), rgb(235, 235, 235) url("../images/portfolio.jpg") no-repeat;
  background-position: left top;
  .background-size(auto 100%);
  margin-left: -2px;
  .before-line:before {
    padding: 0 12px;
  }
  .title-section {
    margin-bottom: 0;
  }
  .swiper {
    margin-top: 60px;
    h4 {
      width: 55%;
      margin: 15px auto;
    }
    .after-line:after {
      background-color: @white;
      padding: 0 -10px;
      margin: 0;
    }
  }
  .text {
    top: 100%;
  }
  .swiper-button-next, .swiper-button-prev {
    i {
      color: @blue;
    }
  }
  .swiper-pagination {
    margin-top: 40px;
  }
}

/* ---- end portfolio ------ */

/* ----- start reviwes ------ */

section.reviwes {
  background-image: url(../images/polygons.jpg);
  .title-section {
    margin-bottom: 0;
    h1,h4 {
      color: @white;
    }
  }
  .before-line:before {
    padding: 0 4px;
  }
  .swiper {
    margin-top: 60px;
    .message {
      background-color: @white;
      .border-radius(6px);
      padding: 15px;
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
      &:before {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        content: '';
        top: 50%;
        margin-top: -10px;
        position: absolute;
        display: inline-block;
        left: 2px;
        border-right: 15px solid #ffffff;
      }
    }
    h4 {
      color: @orange;
      text-decoration: underline;
      margin-top: 0;
      margin-bottom: 5px;
    }
    img {
      position: absolute;
      left: -100px;
      bottom: 0;
      top: 0;
      margin: auto 0;
      background-color: @white;
    }
  }
  .swiper-pagination {
    margin-top: 40px !important;
  }
  .swiper-pagination-bullet {
    border-color: @white;
    background-color: @white;
  }
  .swiper-pagination-bullet-active{
    background-color: transparent;
  }
  .swiper-button-next, .swiper-button-prev {
    i {
      color: @white;
    }
  }
  .reviwes-icon {
    background-image: url(../images/sprites/bubble.png);
    border-color: #ebebeb;
    top: -15px;
  }
}

/* ----- end reviwes  ------- */

/* ----- start contacts ------*/

section.contacts {
  padding: 0;
  position: relative;
  z-index: 3;
  .title-section {
    margin: 0;
    h1,h4 {
      color: @white;
    }
  }
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .contacts {
    text-align: center;
  }

  .wrapper {
    background-color: @red;
    z-index: 2;
    margin: 100px 145px 100px 0;
    padding: 20px 0;
    button.primary-button {
      color: @white;
      border-color: @white;
      margin-bottom: 0;
      margin-top: 20px;
    }
    ul {
      display: inline-block;
      &:before {
        content: '';
        height: 1px;
        background-color: @white;
        margin: 3px 14px 10px;
        display: block;
      }
    }
    li {
      color: @white;
      text-align: center;
      font-size: 16px;
    }
  }
  #map {
    height: 460px;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
  }
  .contacts-icon {
    background-image: url(../images/sprites/phone.png);
    top: -20px;
  }
}

/* ------ end contacts --- */

/*----- start footer ------ */

footer {
  height: 80px;
  background-color: rgba(230, 230, 230, 1);
  line-height: 80px;
  .copyright {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    color: #c5c5c5;
    font-size: 13px;
  }
}

/*------ end footer ------- */

/* ------ modal ------*/
.modal {
  .close {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 40px;
  }
  .primary-button {
    border-color: @white;
    color: @white;
    margin-bottom: 16px;
  }
  .photo {
    position: relative;
    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .title-section {
    margin-bottom: 0 !important;
    margin-top: 20px;
    h1 {
      font-size: 27px !important;
      text-transform: none;
      font-family: "PT Sans";
    }
    h4 {
      font-size: 17px !important;
      font-family: "PT Sans";
    }
  }
  .modal-dialog {
    display: table;
  }
  .column {
    padding: 0;
    margin: 0;
    min-height: 290px;
  }
  .description {
    float: left;
    background-color: @blue;
    .title-section {
      h1,h4 {
        color: @white;
      }
    }
    .after-line {
      &:after {
        background-color: @white;
        bottom: -4px;
      }
    }
    .text {
      padding: 15px 45px;
      color: @white;
      font-size: 13px;
      text-align: center;
    }
  }
  .skills {
    float: left;
    background-color: @white;
    ul {
      padding: 15px 12px 20px;
    }
    li {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      min-height: 40px;
      padding: 10px 5px 0;
      cursor: pointer;
    }
    img {
      display: block;
      width: 40px;
    }
    .under {
      margin-top: 0;
      h1 {
        font-size: 17px !important;
      }
    }
  }
}

/* end modal*/

.tooltipster-default {
  background-color: @red;
  color: @white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tooltipster-content {
  font-family: "PT Sans";
  font-size: 13.22px;
  padding: 10px;
}




